.t1{
    color: black;
    font-size: 40px;
}
.card-header {
      background-color: #fff;
      border-bottom: none;
}
table{
    margin-left: 50px;
}
.tasks{
    margin-top: 10px;
    font-size: 30px;
}
.nav-link {
    display: block;
    width: 100%;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0.400rem;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #dc3545 !important;
    color: white !important;
}